version = 1

test_patterns = ["_tests/**"]

exclude_patterns = ["_legacy/*"]

[[analyzers]]
name = "python"

[analyzers.meta]
runtime_version = "3.x.x"
max_line_length = 120

[[analyzers]]
name = "test-coverage"
enabled = true